@model DataAccess.Models.TermModel

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>You Need To Close</title>
<style>
    table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td{
        padding: 5px;
        text-align: left;
    }
    #expectedamount{
        font-weight:bold;
    }
    #category{
        font-weight:bold;
        background-color:yellow;
    }
    #customer{
        text-indent: 50px;
    }
</style>
</head>
<body>
<div class="container">
    <div id="headercontent" class="row">
        <div id="monthyear" class="col-md-4 text-center">
            <h2>September</h2>
            <h4>2015</h4>
        </div>
        <div id="expectedamount" class="col-md-8">
            <table style="width:100%">
                    <tr>
                        <th>Amount Expected Monthly:</th>
                        <td>$50,000</td>
                    </tr>
                <tr>
                    <th>Over/Under Budget</th>
                    <th>Actual Amount Earned For Month</th>
                </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.BudgetActual.Budget)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.BudgetActual.Actual)
                        </td>
                    </tr>       
            </table>
        </div>
    </div>
    <div id="table" class="row">
        <table style="width:100%">
            <tr>
                <th>Categories</th>
                <th>Budgeted</th>
                <th>Actual</th>
                <th>Difference</th>
                <th>Options</th>
            </tr>
            @foreach (var item in Model.Categories)
            {
                <tr>
                    <td id="category">
                        @Html.DisplayFor(modelItem => item.NameOfCategory)
                    </td>
                    <td id="category">
                        @Html.DisplayFor(modelItem => item.BudgetActualCategory.Budget)
                    </td>
                    <td id="category">
                        @Html.DisplayFor(modelItem => item.BudgetActualCategory.Actual)
                    </td>
                    <td id="category">
                        @Html.DisplayFor(modelItem => item.BudgetActualCategory.Difference)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id })  |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
                foreach (var customer in item.Customers)
                {
                    <tr>
                        <td id="customer">
                            @Html.DisplayFor(modelItem => customer.NameOfCompany)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => customer.BudgetActualCustomer.Budget)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => customer.BudgetActualCustomer.Actual)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => customer.BudgetActualCustomer.Difference)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id })  |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <div id="closed" class="row">
    </div>
</div>
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
