@model DataAccess.Models.TermModel

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>You Need To Close</title>
<style>
    table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td{
        padding: 5px;
        text-align: left;
    }
    body{
        background-color:#e9e9e9;
        color:black;
    }
    #expectedamount{
        font-weight:bold;
    }
    #category{
        font-weight:bold;
        background-color:lightblue;
        color:black;
    }
    #customer{
        text-indent: 50px;
    }
    #options a {
        color:black;
    }
    #categoryOptions{
        color:black; 
        font-weight:bold;
        background-color:lightblue;
    }
    #headers{
       background-color:lightgrey;
    }
    #topTableColors{
       background-color:lightblue;
    }
</style>
</head>
<body>
<div class="container">
    <div id="headercontent" class="row">
        <div id="monthyear" class="col-md-4 text-center">
            <h2>@Html.DisplayFor(m => Model.StartDate) </h2>
            <h4>@Html.DisplayFor(m => Model.StartDate.Year) </h4>
            <p>
                <br />
                    @Html.ActionLink("New Category", "CreateNewCategory", new { id = Model.Id }, new { @class = "btn btn-info", })
            </p>
        </div>
        <div id="expectedamount" class="col-md-8">
            <p>
                <br />
            <table style="width:100%">
                    <tr>
                        <th id="headers">Amount Expected Monthly:</th>
                       <td>
                           @Html.DisplayFor(modelItem => Model.ProjectedGoal.ExpectedAmountToEarn)
                        </td>
                    </tr>
                    <tr>
                        <th id="headers">Total Budget For Month:</th>
                        <td>
                            @Html.DisplayFor(modelItem => Model.BudgetActual.Budget)
                        </td>
                    </tr>
                    <tr> 
                        <th id="headers">Total Amount Earned For Month:</th>
                        <td>
                            @Html.DisplayFor(modelItem => Model.BudgetActual.Actual)
                        </td>
                    </tr>       
            </table>
            </p>
        </div>
    </div>
    <div id="table" class="row">
        <div class="col-sm-12">
            <p>
                <table style="width:100%">
                    <tr id ="headers">
                        <th>Categories</th>
                        <th>Budgeted</th>
                        <th>Actual</th>
                        <th>Difference</th>
                        <th>Options</th>
                    </tr>
                    @foreach (var item in Model.Categories)
                    {
                        <tr>
                            <td id="category">
                                @Html.DisplayFor(modelItem => item.NameOfCategory)
                            </td>
                            <td id="category">
                                @Html.DisplayFor(modelItem => item.BudgetActualCategory.Budget)
                            </td>
                            <td id="category">
                                @Html.DisplayFor(modelItem => item.BudgetActualCategory.Actual)
                            </td>
                            <td id="category">
                                @Html.DisplayFor(modelItem => item.BudgetActualCategory.Difference)
                            </td>
                            <td id ="categoryOptions">
                                @Html.ActionLink("Create New Customer", "CreateNewCustomer", new { id = item.Id, termID = Model.Id }, new { @class = "btn btn-info" }) |
                                @Html.ActionLink("Edit", "EditCategory", new { id = item.Id, termID = Model.Id }, new { @class = "btn btn-info" }) |
                                @Html.ActionLink("Delete", "DeleteCategory", new { id = item.Id, termID = Model.Id }, new { @class = "btn btn-info" })
                            </td>
                        </tr>
                        foreach (var customer in item.Customers)
                        {
                            <tr>
                                <td id="customer">
                                    @Html.DisplayFor(modelItem => customer.NameOfCompany)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => customer.BudgetActualCustomer.Budget)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => customer.BudgetActualCustomer.Actual)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => customer.BudgetActualCustomer.Difference)
                                </td>
                                <td id="options">
                                    @Html.ActionLink("Sale Closed", "SaleClosed", new { id = customer.Id, termID = Model.Id }) |
                                    @Html.ActionLink("Details", "DetailsCustomer", new { id = customer.Id, termID = Model.Id }) |
                                    @Html.ActionLink("Edit", "EditCustomer", new { id = customer.Id, termID = Model.Id }) |
                                    @Html.ActionLink("Delete", "DeleteCustomer", new { id = customer.Id, termID = Model.Id })
                                </td>
                            </tr>
                        }
                    }
                </table>
            </p>
            </div>
        </div>
        <div id="table buttons" class="row">
            <div class="col-sm-12">
                <p>
                    <center>
                        @Html.ActionLink("Previous Month", "MonthOverview", new { id = Model.PrevId }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Next Month", "MonthOverview", new { id = Model.Id+1 }, new { @class = "btn btn-info" })
                    </center>
                </p>
                </div>
            </div>
    </div>
        @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
